In [12]:
import pandas as pd
from json import loads, dumps

In [17]:
datas = ['darmstadt_unis', 'mpqa', 'multibooked_ca', 'multibooked_eu', 'norec', 'opener_en', 'opener_es']

df1 = [pd.read_json(f"../{i}/train_convert.json") for i in datas]
df = pd.concat(df1)
df.reset_index(drop=True)

,sent_id,raw_words,words,aspects,holder,opinions
0,Colorado_Technical_University_Online_2_06-11-2...,NA I am a current student of their MBA program...,"[NA, I, am, a, current, student, of, their, MB...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]"
1,Colorado_Technical_University_Online_2_06-11-2...,NA I have been in the IT industry for 20 years...,"[NA, I, have, been, in, the, IT, industry, for...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]"
2,Colorado_Technical_University_Online_2_06-11-2...,"NA I am currently a director , and do make a s...","[NA, I, am, currently, a, director, ,, and, do...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]"
3,Colorado_Technical_University_Online_2_06-11-2...,"NA I did my research , and am concerned about ...","[NA, I, did, my, research, ,, and, am, concern...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]"
4,Colorado_Technical_University_Online_2_06-11-2...,"NA Especially , since I am planning for a PhD ...","[NA, Especially, ,, since, I, am, planning, fo...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]"
...,...,...,...,...,...,...
16765,opener_es/kaf/hotel/spanish00076_53fe0c069b153...,NA Todo muy limpio y el personal muy atento y ...,"[NA, Todo, muy, limpio, y, el, personal, muy, ...","[{'index': 0, 'from': 1, 'to': 2, 'term': 'Tod...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 2, 'to': 4, 'term': 'muy..."
16766,opener_es/kaf/hotel/spanish00076_53fe0c069b153...,NA Lo único que el buffet libre no tenía mucha...,"[NA, Lo, único, que, el, buffet, libre, no, te...","[{'index': 0, 'from': 4, 'to': 7, 'term': 'el ...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 13, 'to': 15, 'term': 'm..."
16767,opener_es/kaf/hotel/spanish00072_4d6a6a1f08495...,NA Desfavorable,"[NA, Desfavorable]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 1, 'to': 2, 'term': 'Des..."
16768,opener_es/kaf/hotel/spanish00072_4d6a6a1f08495...,NA El hotel esta totalmente desfasado en cuant...,"[NA, El, hotel, esta, totalmente, desfasado, e...","[{'index': 0, 'from': 12, 'to': 14, 'term': 'a...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 21, 'to': 24, 'term': 'm..."
16769,opener_es/kaf/hotel/spanish00072_4d6a6a1f08495...,NA Las puertas estaban podridas en su parte in...,"[NA, Las, puertas, estaban, podridas, en, su, ...","[{'index': 0, 'from': 1, 'to': 3, 'term': 'Las...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 4, 'to': 5, 'term': 'pod..."

In [21]:
df.to_json(r'ddx.json', orient='records')