In [19]:
import pandas as pd
import matplotlib.pyplot as plt
from json import loads, dumps
import os, json

In [28]:
# datas = ['multibooked_ca','multibooked_eu','norec','opener_es','darmstadt_unis','mpqa', 'opener_en']
datas = ['darmstadt_unis']

df1 = [pd.read_json(f"../../final_data/{i}/train_convert.json") for i in datas]
df = pd.concat(df1)
df.reset_index(drop=True)

,sent_id,raw_words,words,aspects,holder,opinions
0,DeVry_University_94_07-02-2004-1,NA Don't listen to above post .,"[NA, Don't, listen, to, above, post, .]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]"
1,DeVry_University_94_07-02-2004-2,NA This school is all about the money,"[NA, This, school, is, all, about, the, money]","[{'index': 0, 'from': 2, 'to': 3, 'term': 'sch...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 4, 'to': 5, 'term': 'all'}]"
2,DeVry_University_94_07-02-2004-3,NA The education is less than stellar for the ...,"[NA, The, education, is, less, than, stellar, ...","[{'index': 0, 'from': 2, 'to': 3, 'term': 'edu...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 4, 'to': 6, 'term': 'les..."
3,DeVry_University_94_07-02-2004-4,NA A community college offers better than this...,"[NA, A, community, college, offers, better, th...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]"
4,DeVry_University_94_07-02-2004-5,NA Here you pay 6k a semester as compared to 3...,"[NA, Here, you, pay, 6k, a, semester, as, comp...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]"
...,...,...,...,...,...,...
4347,opener_en/kaf/hotel/english00011_0b57ac0ca8569...,NA Golf courses can be easily reached from the...,"[NA, Golf, courses, can, be, easily, reached, ...","[{'index': 0, 'from': 11, 'to': 13, 'term': 't...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 17, 'to': 18, 'term': 'o..."
4348,opener_en/kaf/hotel/english00011_0b57ac0ca8569...,"NA Hotel offers nice spa , large pool area and...","[NA, Hotel, offers, nice, spa, ,, large, pool,...","[{'index': 0, 'from': 1, 'to': 2, 'term': 'Hot...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 2, 'to': 3, 'term': 'off..."
4349,opener_en/kaf/hotel/english00011_0b57ac0ca8569...,NA Hospitality and services at the highest lev...,"[NA, Hospitality, and, services, at, the, high...","[{'index': 0, 'from': 1, 'to': 2, 'term': 'Hos...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 4, 'to': 8, 'term': 'at ..."
4350,opener_en/kaf/hotel/english00011_0b57ac0ca8569...,NA I will definitely come back !,"[NA, I, will, definitely, come, back, !]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 1, 'to': 2, 'term': 'I'}]","[{'index': 0, 'from': 2, 'to': 7, 'term': 'wil..."
4351,opener_en/kaf/hotel/english00032_30ddf6dff464d...,NA Best in class,"[NA, Best, in, class]","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'...","[{'index': 0, 'from': 0, 'to': 1, 'term': 'NA'}]","[{'index': 0, 'from': 1, 'to': 2, 'term': 'Bes..."

In [29]:
df['text_len'] = df['raw_words'].apply(lambda x: len(x)-3)
df.describe()

# df[df['sent_id'] == "DeVry_University_94_07-02-2004-1"]

          text_len
count  4352.000000
mean    115.937040
std      81.162294
min       4.000000
25%      56.000000
50%      98.000000
75%     160.000000
max    1142.000000

In [18]:
datas = ['multibooked_ca','multibooked_eu','norec','opener_es','darmstadt_unis','mpqa', 'opener_en']

for data in datas:
    df = pd.read_json(f"../../final_data/{data}/t1.json")
    df['opinion_cnt'] = df['opinions'].apply(lambda x: len(x))
    print(data, "t1")
    print(df.describe(), "\n")

    df1 = pd.read_json(f"../../final_data/{data}/d1.json")
    df1['opinion_cnt'] = df1['opinions'].apply(lambda x: len(x))
    print(data, "d1")
    print(df1.describe(), "\n")

    df2 = pd.read_json(f"../../final_data/{data}/f1.json")
    df2['opinion_cnt'] = df2['opinions'].apply(lambda x: len(x))
    print(data, "f1")
    print(df2.describe(), "\n")

    print("=============================================")


# df1 = [pd.read_json(f"../../final_data/{i}/t1.json") for i in datas]
# df = pd.concat(df1)
# df.reset_index(drop=True)

multibooked_ca t1
       opinion_cnt
count  1174.000000
mean      1.694208
std       1.648896
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max      22.000000

multibooked_ca d1
       opinion_cnt
count   167.000000
mean      1.544910
std       1.748344
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max      17.000000

multibooked_ca f1
       opinion_cnt
count   335.000000
mean      1.561194
std       1.300041
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       8.000000

=============================================
multibooked_eu t1
       opinion_cnt
count  1063.000000
mean      1.579492
std       1.455890
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max      15.000000

multibooked_eu d1
       opinion_cnt
count   152.000000
mean      1.335526
std       1.173347
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       7.000000

multibooked_eu f1
       opinion_cnt
count   305.000000
mean      1.432787
std       1.260316
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       6.000000

=============================================
norec t1
       opinion_cnt
count  8634.000000
mean      0.978457
std       1.306676
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max      15.000000

norec d1
       opinion_cnt
count  1531.000000
mean      0.935336
std       1.148058
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       7.000000

norec f1
       opinion_cnt
count  1272.000000
mean      0.970912
std       1.251883
min       0.000000
25%       0.000000
50%       1.000000
75%       2.000000
max      10.000000

=============================================
opener_es t1
       opinion_cnt
count  1438.000000
mean      2.115438
std       2.227624
min       0.000000
25%       1.000000
50%       2.000000
75%       3.000000
max      26.000000

opener_es d1
       opinion_cnt
count   206.000000
mean      1.878641
std       1.802391
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max      11.000000

opener_es f1
       opinion_cnt
count   410.000000
mean      2.334146
std       2.443104
min       0.000000
25%       1.000000
50%       1.000000
75%       3.000000
max      17.000000

=============================================
darmstadt_unis t1
       opinion_cnt
count  2253.000000
mean      0.357745
std       0.608429
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       5.000000

darmstadt_unis d1
       opinion_cnt
count   232.000000
mean      0.422414
std       0.639952
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       3.000000

darmstadt_unis f1
       opinion_cnt
count   318.000000
mean      0.408805
std       0.671303
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       4.000000

=============================================
mpqa t1
       opinion_cnt
count  5643.000000
mean      0.302321
std       0.653873
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       8.000000

mpqa d1
       opinion_cnt
count  1997.000000
mean      0.285428
std       0.655372
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       7.000000

mpqa f1
       opinion_cnt
count  2055.000000
mean      0.252068
std       0.589352
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       5.000000

=============================================
opener_en t1
       opinion_cnt
count  1744.000000
mean      1.653670
std       1.618315
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max      17.000000

opener_en d1
       opinion_cnt
count   249.000000
mean      1.606426
std       1.544279
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max      13.000000

opener_en f1
       opinion_cnt
count   499.000000
mean      1.733467
std       1.860362
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max      18.000000

=============================================

In [23]:
import matplotlib.pyplot as plt

plts_lst = []

def get_lengths(folder, sentences, typ=None):
    lens = [len(i['text']) for i in sentences]
    if typ is not None: plts_lst.append([lens, folder])
    return [min(lens), round(sum(lens)/len(lens), 2), max(lens)]


for folder in os.listdir('../../final_data/'):
  if folder != 'pengb' and folder != 'new_data':
      print(folder)
      with open(f'../../final_data/{folder}/t1.json') as f: train = json.load(f)
      with open(f'../../final_data/{folder}/d1.json') as f: dev = json.load(f)
      with open(f'../../final_data/{folder}/f1.json') as f: test = json.load(f)
      # print(f'{len(train)}, {len(dev)}, {len(test)}')
      print(get_lengths(folder, train, 'train'), get_lengths(folder, dev), get_lengths(folder, test))
      print()

darmstadt_unis

KeyError: 'text'

In [12]:
df.describe()

       opinion_cnt
count  9640.000000
mean      0.559751
std       1.036905
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max      17.000000

In [22]:
df1 = pd.read_json('ddx.json')
df2 = pd.read_json('ddx1.json')

In [24]:
df1[df1["opinions"] == '[]']

Empty DataFrame
Columns: [sent_id, raw_words, words, aspects, holder, opinions]
Index: []

In [21]:
df.to_json(r'ddxx2.json', orient='records')

In [11]:
from tqdm import tqdm
import os, json

NULL_TOKEN = 'NA'
START_WORD = 'NA '
NULL_INDEX = 0

def char2word_offset(sent, start_end_str):
    start, end = [int(i) for i in start_end_str.split(':')]
    start, end = start+len(START_WORD), end+len(START_WORD)
    word_start, word_end = None, None
    space_count = 0
    for i in range(len(sent)):
        if sent[i]==' ': space_count += 1
        if i>=start and word_start is None: word_start = space_count
        if i>=end and word_start is not None: word_end = space_count; break
    if word_end is None and word_start is not None: word_end = space_count+1
    assert (type(word_start) == type(word_end))
    if word_start is None: word_start, word_end = NULL_INDEX, NULL_INDEX+1
    return int(word_start), int(word_end)

def format_convert(original_data, file, threshold=0):
    final_data = []
    blank_cnt = 0
    if 't1' in file: print(f'{threshold} limit for null opinions')
    threshold *= len(original_data)

    for row in tqdm(original_data):
        data = {}
        if 't1' in file:
            if blank_cnt <= threshold and len(row['opinions'])==0: blank_cnt += 1
            elif len(row['opinions'])==0: continue

        row['text'] = START_WORD + row['text']
        data['sent_id'] = row['sent_id']
        data['raw_words'] = row['text']
        data['words'] = data['raw_words'].split()
        aspects, holders, opinions = [], [], []

        for cnt, original_opinion in enumerate(row['opinions']):
            aspect, holder, opinion = {}, {}, {}
            aspect['index'], holder['index'], opinion['index'] = cnt, cnt, cnt

            ############################################# Aspect #############################################
            try:aspect['from'], aspect['to'] = char2word_offset(data['raw_words'], original_opinion['Target'][1][0])
            except: aspect['from'], aspect['to'] = NULL_INDEX, NULL_INDEX+1
            if aspect['from'] == aspect['to']-1 == NULL_INDEX:
                aspect['term'] = NULL_TOKEN
            else:
                aspect['term'] = original_opinion['Target'][0][0]

            try: aspect['Polarity'] = str(original_opinion['Polarity'])
            except: aspect['Polarity'] = NULL_TOKEN; print(original_opinion)
            try: aspect['Intensity'] = str(original_opinion['Intensity'])
            except: aspect['Intensity'] = NULL_TOKEN; print(original_opinion)

            ############################################# Holder #############################################
            try:holder['from'], holder['to'] = char2word_offset(data['raw_words'], original_opinion['Source'][1][0])
            except: holder['from'], holder['to'] = NULL_INDEX, NULL_INDEX+1
            if holder['from'] == holder['to']-1 == NULL_INDEX:
                holder['term'] = NULL_TOKEN
            else:
                holder['term']  = original_opinion['Source'][0][0]

            ############################################# Opinion #############################################
            try:opinion['from'], opinion['to'] = char2word_offset(data['raw_words'], original_opinion['Polar_expression'][1][0])
            except: opinion['from'], opinion['to'] = NULL_INDEX, NULL_INDEX+1
            if opinion['from'] == opinion['to']-1 == NULL_INDEX:
                opinion['term'] = NULL_TOKEN
            else:
                opinion['term'] = original_opinion['Polar_expression'][0][0]

            aspects.append(aspect)
            holders.append(holder)
            opinions.append(opinion)

        if len(aspects) == 0:
            tmp = {}; tmp['index'] = 0; tmp['from']=NULL_INDEX; tmp['to']=NULL_INDEX+1
            for k in 'term Polarity Intensity'.split(): tmp[k]=NULL_TOKEN
            aspects = [tmp]
        if len(holders) == 0:
            tmp = {}; tmp['index'] = 0; tmp['from']=NULL_INDEX; tmp['to']=NULL_INDEX+1
            for k in 'term'.split(): tmp[k]=NULL_TOKEN
            holders = [tmp]
        if len(opinions) == 0:
            tmp = {}; tmp['index'] = 0; tmp['from']=NULL_INDEX; tmp['to']=NULL_INDEX+1
            for k in 'term'.split(): tmp[k]=NULL_TOKEN
            opinions = [tmp]

        data['aspects'] = aspects
        data['holder'] = holders
        data['opinions'] = opinions
        final_data.append(data)

    return final_data

In [12]:
null_dict = {
    'mpqa': 0.1,
    'darmstadt_unis': 0.2,
    'norec': 0.3,
    'opener_en': 0,
    'multibooked_eu': 0.07,
    'multibooked_ca': 0.15,
    'opener_es': 0.06,
    "eng_combined": 0.1
}

for folder in os.listdir('../../final_data'):
    for file in os.listdir(f'../../final_data/{folder}'):
        if '1.' not in file: continue
        with open(f'../../final_data/{folder}/{file}', encoding="utf8") as f: data = json.load(f)

        data = format_convert(data, file, null_dict[folder])
        if 't1' in file: dest = 'train_convert.json'
        elif 'd1' in file: dest = 'dev_convert.json'
        elif 'f1' in file: dest = 'test_convert.json'
        print(f'../../final_data/{folder}/{dest}')
        with open(f'../../final_data/{folder}/{dest}', 'w') as f:
            json.dump(data, f)
        print()

100%|██████████| 232/232 [00:00<00:00, 68851.52it/s]

../../final_data/darmstadt_unis/dev_convert.json

100%|██████████| 318/318 [00:00<00:00, 105973.99it/s]

../../final_data/darmstadt_unis/test_convert.json

0.2 limit for null opinions

100%|██████████| 2253/2253 [00:00<00:00, 118547.38it/s]

../../final_data/darmstadt_unis/train_convert.json

100%|██████████| 1997/1997 [00:00<00:00, 90702.63it/s]

../../final_data/mpqa/dev_convert.json

100%|██████████| 2055/2055 [00:00<00:00, 82182.44it/s]

../../final_data/mpqa/test_convert.json

0.1 limit for null opinions

100%|██████████| 5643/5643 [00:00<00:00, 121450.20it/s]

../../final_data/mpqa/train_convert.json

100%|██████████| 167/167 [00:00<00:00, 33890.50it/s]

../../final_data/multibooked_ca/dev_convert.json

100%|██████████| 335/335 [00:00<00:00, 41804.52it/s]

../../final_data/multibooked_ca/test_convert.json

0.15 limit for null opinions

100%|██████████| 1174/1174 [00:00<00:00, 35558.81it/s]

../../final_data/multibooked_ca/train_convert.json

100%|██████████| 152/152 [00:00<00:00, 50650.21it/s]

../../final_data/multibooked_eu/dev_convert.json

100%|██████████| 305/305 [00:00<00:00, 43484.24it/s]

../../final_data/multibooked_eu/test_convert.json

0.07 limit for null opinions

100%|██████████| 1063/1063 [00:00<00:00, 48322.73it/s]

../../final_data/multibooked_eu/train_convert.json

100%|██████████| 1531/1531 [00:00<00:00, 58838.16it/s]

../../final_data/norec/dev_convert.json

100%|██████████| 1272/1272 [00:00<00:00, 50865.25it/s]

../../final_data/norec/test_convert.json

0.3 limit for null opinions

100%|██████████| 8634/8634 [00:00<00:00, 38364.37it/s]

../../final_data/norec/train_convert.json

100%|██████████| 249/249 [00:00<00:00, 35576.43it/s]

../../final_data/opener_en/dev_convert.json

100%|██████████| 499/499 [00:00<00:00, 36380.92it/s]

../../final_data/opener_en/test_convert.json

0 limit for null opinions

100%|██████████| 1744/1744 [00:00<00:00, 44718.18it/s]

../../final_data/opener_en/train_convert.json

100%|██████████| 206/206 [00:00<00:00, 34324.91it/s]

../../final_data/opener_es/dev_convert.json

100%|██████████| 410/410 [00:00<00:00, 21567.25it/s]

../../final_data/opener_es/test_convert.json

0.06 limit for null opinions

100%|██████████| 1438/1438 [00:00<00:00, 28189.69it/s]

../../final_data/opener_es/train_convert.json

In [14]:
for folder in os.listdir('../../final_data'):
    if 'eng_combined' in folder or 'cross' in folder: continue
    if folder != 'pengb' and folder != 'new_data':
# for folder in 'norec mpqa'.split():
      for file in os.listdir(f'../../final_data/{folder}'):
          # if 'd1.' not in file: continue
          with open(f'../../final_data/{folder}/{file}', encoding="utf8") as f: data = json.load(f)
          print(folder, end='\t')
          null_cnt = 0
          if 'convert' in file or 'ril' in file or 'riil' in file:
              for row in data:
                if len(row['opinions']) == 1 and row['opinions'][0]['term'] == "NA": null_cnt+=1
              pass
          else:
            for row in data:
                if row['opinions'] == []: null_cnt+=1
          print(file, '\t', round(null_cnt/len(data)*100, 2), '%')

darmstadt_unis	d1.json 	 64.66 %
darmstadt_unis	dev_convert.json 	 64.66 %
darmstadt_unis	f1.json 	 67.3 %
darmstadt_unis	new_ril.json 	 39.84 %
darmstadt_unis	riil.json 	 39.84 %
darmstadt_unis	ril.json 	 39.84 %
darmstadt_unis	t1.json 	 69.77 %
darmstadt_unis	test_convert.json 	 67.3 %
darmstadt_unis	train_convert.json 	 23.37 %
mpqa	d1.json 	 79.17 %
mpqa	dev_convert.json 	 79.17 %
mpqa	f1.json 	 81.02 %
mpqa	new_ril.json 	 31.06 %
mpqa	riil.json 	 31.92 %
mpqa	ril.json 	 65.21 %
mpqa	t1.json 	 77.78 %
mpqa	test_convert.json 	 81.02 %
mpqa	train_convert.json 	 23.37 %
multibooked_ca	d1.json 	 16.17 %
multibooked_ca	ddxx.json 	 0.0 %
multibooked_ca	ddxx2.json 	 0.0 %
multibooked_ca	dev_convert.json 	 16.17 %
multibooked_ca	f1.json 	 16.12 %
multibooked_ca	t1.json 	 14.65 %
multibooked_ca	test_convert.json 	 16.12 %
multibooked_ca	train_convert.json 	 14.65 %
multibooked_eu	d1.json 	 21.05 %
multibooked_eu	ddxx.json 	 0.0 %
multibooked_eu	ddxx2.json 	 0.0 %
multibooked_eu	dev_convert.json 	 21.05 %
multibooked_eu	f1.json 	 21.31 %
multibooked_eu	t1.json 	 15.43 %
multibooked_eu	test_convert.json 	 21.31 %
multibooked_eu	train_convert.json 	 7.7 %
norec	d1.json 	 46.37 %
norec	ddxx.json 	 0.0 %
norec	ddxx2.json 	 0.0 %
norec	dev_convert.json 	 46.37 %
norec	f1.json 	 47.01 %
norec	t1.json 	 47.24 %
norec	test_convert.json 	 47.01 %
norec	train_convert.json 	 36.26 %
opener_en	d1.json 	 20.48 %
opener_en	dev_convert.json 	 20.48 %
opener_en	f1.json 	 18.44 %
opener_en	new_ril.json 	 0.07 %
opener_en	riil.json 	 0.07 %
opener_en	ril.json 	 0.07 %
opener_en	t1.json 	 19.72 %
opener_en	test_convert.json 	 18.44 %
opener_en	train_convert.json 	 23.37 %
opener_es	d1.json 	 15.53 %
opener_es	ddxx.json 	 0.0 %
opener_es	ddxx2.json 	 0.0 %
opener_es	dev_convert.json 	 15.53 %
opener_es	f1.json 	 11.71 %
opener_es	t1.json 	 12.93 %
opener_es	test_convert.json 	 11.71 %
opener_es	train_convert.json 	 6.5 %